.drop-down-container {
  position: relative;
}

.drop-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.drop-header .drop-btn-toggle {
  width: 20px;
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  transition: all 150ms ease-in-out;
}

.drop-header .drop-btn-toggle[data-btn-state="closed"] {
  background-image: url("drop-down-icons/down.png");
}
.drop-header .drop-btn-toggle[data-btn-state="open"] {
  background-image: url("drop-down-icons/angle-up.png");
}

.drop-down-body {
  padding: 1rem;
  background-color: rgb(240, 238, 238);
  border-radius: 5px;
  transition: all 150ms ease-in-out;
}

.drop-down-body[data-drop-body-state="closed"] {
  height: 0px;
  padding: 0;
}
.drop-down-body[data-drop-body-state="closed"] > * {
  display: none;
}

.drop-down-body[data-drop-body-state="open"] {
  height: fit-content;
  padding: 0.5;
}
.drop-down-body[data-drop-body-state="open"] > * {
  display: block;
}
