@font-face {
  font-family: "rubik";
  src: url("fonts/Rubik-VariableFont_wght.ttf");
}
:root {
  --ff-primary: rubik;
}

h1,
h2 {
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
}

.wrapper {
  max-inline-size: 1000px;
  margin-inline: auto;
}

body {
  display: grid;
  place-content: center;
  padding: 1rem;
  font-family: var(--ff-primary);
}

.user-cards-container {
  display: grid;
  gap: 1rem;
}
@media (min-width: 889px) {
  .user-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* ------------------------------------------------------------------------------------------------- */

.nav {
  display: flex;
  gap: 2rem;
}
@media (max-width: 600px) {
  .nav {
    flex-direction: column;
  }
}

.article-text {
  line-height: 1.5;
}
