*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.icon {
  width: 20px;
  aspect-ratio: 1 /1;
  cursor: pointer;
}

.card-container {
  display: grid;
  gap: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px rgb(200, 200, 200);
}

.card-container > * {
  justify-self: center;
}

.btn-container {
  display: flex;
  gap: 0.8rem;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  background-color: rgb(7, 253, 241);
  border-radius: 5px;
}
.user-name-role-container,
.avatar-profile {
  text-align: center;
}
.social-container {
  display: flex;
  gap: 3rem;
}
.social-link {
  border-radius: 100%;
  box-shadow: 0px 0px 10px 4px rgb(186, 186, 186);
  transition: transform 150ms ease-in-out;
}
.social-link:hover {
  transform: translateY(-5px);
}

.avatar-role {
  color: rgb(174, 174, 174);
}
.avator-summary {
  line-height: 1.5;
}
